<ul class="nav nav-pills nav-stacked" id="jobs_tab">
  <% selected = params[:cause] ? params[:cause] : @act_causes.first.id %>
  <%= @act_causes.each do |act_cause| %>
    <li class="<%= "selected" if selected == act_cause.id %>">
      <a href="#<%= dom_id(act_cause) %>_tab"><%= act_cause.cause.name %></a>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <%= @act_causes.each do |act_cause| %>
    <div class="tab-pane<%= " active" if selected == act_cause.id %>" id="<%= dom_id(act_cause) %>_tab">

    </div>
  <% end %>
</div>

<div class="col-md-6"><h3>Tabs -left</h3>

  <!-- tabs left -->
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li><a href="#a" data-toggle="tab">One</a></li>
      <li><a href="#b" data-toggle="tab">Two</a></li>
      <li><a href="#c" data-toggle="tab">Twee</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="a">Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</div>
      <div class="tab-pane" id="b">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.</div>
      <div class="tab-pane" id="c">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
    </div>
  </div>
  <!-- /tabs -->

</div>


<script>
  $(function () {
    $('#jobs_tab a:last').tab('show')
  })
</script>