<div class="page-header">
  <%= link_to new_cause_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Cause
  <% end %>
  <h1>Listing causes</h1>
</div>

<div class="col-lg-8">
  <%= gmaps4rails(@json) %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>State</th>
            <th>Name</th>
            <th>Website</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Social contribution</th>
            <th>One liner</th>
            <th>Address</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Logo</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @causes) do |cause| %>
            <td><%= cause.state %></td>
            <td><%= cause.name %></td>
            <td><%= cause.website %></td>
            <td><%= cause.phone %></td>
            <td><%= cause.email %></td>
            <td><%= cause.social_contribution %></td>
            <td><%= cause.one_liner %></td>
            <td><%= cause.address %></td>
            <td><%= cause.latitude %></td>
            <td><%= cause.longitude %></td>
            <td><%= cause.logo %></td>
            <td><%= link_to 'Show', cause %></td>
        <td><%= link_to 'Edit', edit_cause_path(cause) %></td>
        <td><%= link_to 'Destroy', cause, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
